body {
  background-color: #24272e;
  font-family: 'Asap', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  text-align: center;
}

header {
  background-color: #eee;
  color: #25282e;
  text-align: center;
  padding: 1.2em;
}

header h1 {
  color: #24272e;
}

.content {
  text-align: center;
  color: #eee;
}

.score-board {
  margin: 1.2em auto;
  padding: 15px 20px;
  border:  3px solid #fff;
  width: 250px;
  color: #fff;
  font-size: 2em;
  border-radius: .2em;
  position: relative;
}

.badge {
  background-color: #e2584D;
  color: #fff;
  font-size: 1.1rem;
  padding: 5px 14px;
  border-radius: 3px;
}

#user-label, #comp-label {
  position: absolute;
  top: 30%;
}

#user-label {
  left: -30px;
}

#comp-label {
  right: -30px;
}

.result {
  font-size: 1.5rem;
  color: #ddd;
  font-weight: 800;
  padding: .3rem;
}

.choices {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}

.choice {
  font-size: 2.5rem;
  color: #b59d52;
  border: 4px solid #bbb;
  border-radius: 50%;
  margin: 1rem;
  padding: .3rem;
  height: 2em;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.choice:hover {
  border-color: #fff;
  font-size: 2.8rem;
  padding: .2rem;
  margin: .7rem;
  color: #ffe867;
}

.action-msg {
  font-weight: bold;
  font-size: 1.2rem;
}

.win {
  /* background-color: #4dcc7d; */
  border-color: #4dcc7d !important;
  box-shadow: 0 0 10px 0 #31b43A;
}

.lose {
  /* background-color: #fc121b; */
  border-color: #fc121b !important;
  box-shadow: 0 0 10px 0 #d01115;
}

.draw {
  border-color: #464647 !important;
  box-shadow: 0 0 10px 0 #333;
}

footer {
  background-color: #1f2227;
  color: #ccc;
  text-align: center;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: monospace;
}

footer a {
  text-decoration: none;
  color: #ccc !important;
}
footer a:hover {
  text-decoration: underline;
  color: #fff !important;
}

.init-game-cont {
  background-color: rgba(0, 0, 0, 0.95);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.init-game {
  /* height: 300px; */
  width: 90%;
  min-width: 300px;
  max-width: 500px;
  background: #1f2227;
  border-radius: 5px;
  padding: 2rem 0.5rem;
}
.moves {
  margin: 1rem auto;
}
.move {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  outline: none;
  border: none;
  border: 2px solid #ddd;
  background-color: rgba(0, 0, 0, 0);
  color: #ddd;
  margin: 1.1em .8rem;
  font-size: 1.4rem;
  font-weight: 800;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.move:hover, .move:active {
  background-color: #ddd;
  color: #333;
}

.move-selected {
  background-color: #ddd;
  color: #333;
  box-shadow: 0 0 7px 0 #fff;
}

.game-btn {
  border: none;
  outline: none;
  margin: 1rem 0;
  padding: 10px 22px;
  border-radius: 100px;
  font-size: 1.2rem;
  background: #e2584d;
  color: white;
  font-family: monospace;
  cursor: pointer;
  /* box-shadow: 1px 2px 10px 0px #4e4e4e; */
  transition: all .3s ease-in-out;
}
.game-btn:hover {
  box-shadow: 0px 0px 2px 0px #4e4e4e;
}
.hidden {
  display: none;
}
#play-again {
  background-color: #31a7ab;
}

.game-won {
  /* border-left: 10px solid #237b23; */
  /* color: #24272e; */
  /* background: #7fca7f; */
  /* background-color: #c5c5c5; */

}
.game-lost {
  /* background-color: #fc121b; */
}
#game-result {
  margin: .7rem 0;
  font-size: 1.1rem;
}
#result-icon {
  font-size: 3rem;
  color: #31a7ab;
  margin: 1.1rem 0;
}